body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    height: 30px ;
    background-color: black;
}

header img {
    width: 80px;
    margin-right: 20px;
}

.nav-elements {
    display: flex;
    align-items: center;
}

.nav-elements div {
    margin-right: 15px;
}

.jumbotron {
    position: relative;
    background: url(../img\ 3/jumbo-bg.png) 50% 50%;
    background-size: cover;
    height: 500px;
}

.jumbotron img {
    width: 200px;
    margin-bottom: 30px;
}

.jumbo-content {
    width: 360px;
    position: absolute;
    bottom: 20%;
    margin-left: 30px;
    color: white;
}

.jumbotron h2 {
    margin-bottom: 30px;
}

.icons img {
    width: 150px;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 50px;
}

.text-center {
    margin-top: 100px;
}

.text-center p {
    color: blue;
}

.text-center h5 {
    color: grey;
}

.row {
    align-items: center;
}

.row-img {
    padding-left: 200px;
}

.row-img img{
    width: 600px;
}